@import url('https://fonts.googleapis.com/css?family=Miriam+Libre');

html,
body {
  background-color: #efefef;
  color: #636b6f;
  font-weight: 400;
  margin: 0;
  min-height: 100vh;
  padding: 0;

  a:link,
  a:visited {
    text-decoration: underline;
  }

  a:hover,
  a:active {
    opacity: .9;
  }

  .blindhelper {
    clip: rect(0, 0, 0, 0);
    position: absolute;      
    left: 0;
    margin: 0;
    padding:0;
    font-size:1px;
  }
}

h1 {
  font-size: 84px;
}

.full-height {
  min-height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 24px;
}

.links > a {
  color: #636b6f;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  padding: 0 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {}

