.page {
    background: rgba(white, .25);
    text-align: left;

    &__inner {
        @include flex-grid-row();
    }

    &__txt {
        @include flex-grid-column(12);
    }

    &-container {
    	min-height: calc(100vh - 300px);
    }

    &--404 {
	    align-items: center;
	    display: flex;
	    justify-content: center;
    	min-height: calc(100vh - 105px);
    	text-align: center;
    }

    &--thankyou {
	    align-items: center;
	    display: flex;
	    justify-content: center;
    	min-height: 50vh;
    	text-align: center;
    }
}
