<div class="contact">
    <div class="contact__inner">
        <h4 class="contact__title">{{component.ragionesociale | raw}}</h4>
        {% if (component is not empty) %}
        <ul class="contact__list no-bullet">
            <li class="contact__item" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                {% if (component.indirizzo) %}
                <div itemprop="streetAddress">{{component.indirizzo}}</div>
                {% endif %} 
                {% if (component.cap) %}
                <span itemprop="postalCode">{{component.cap}}</span>
                {% endif %} 
                {% if (component.citta) %}
                 - 
                <span itemprop="addressLocality">{{component.citta}}</span>
                {% endif %} 
                {% if (component.telefono) %}
            </li>
            <li class="contact__item" itemprop="telephone">
                tel:
                <a href="tel:{{component.telefono}}">
                    {{component.telefono}}
                </a>
            </li>
            {% endif %} 
            {% if (component.fax) %}
            <li class="contact__item" itemprop="fax">
                fax: 
                <a href="tel:{{component.fax}}">
                    {{component.fax}}
                </a>
            </li>
            {% endif %} 
            {% if (component.cellulare) %}
                cellulare: 
                <li class="contact__item" itemprop="mobile">
                    <a href="tel:{{component.cellulare}}">
                        {{component.cellulare}}
                    </a>
                </li>
            {% endif %} 
            {% if (component.email) %}
            <li class="contact__item">
                email: <a itemprop="email" href="mailto:{{component.email}}">{{component.email}}</a>
            </li>
            {% endif %} {% if (component.pec) %}
            <li class="contact__item">
                Pec:
                <a href="mailto:{{component.pec}}">{{component.pec}}</a>
            </li>
            {% endif %} {% if (component.piva) %}
            <li class="contact__item">Partita Iva: {{component.piva}}</li>
            {% endif %} {% if (component.cf) %}
            <li class="contact__item">Codice Fiscale: {{component.cf}}</li>
            {% endif %}
        </ul>
        {% endif %}
        <div class="contact__text">
            {{component.libero | raw}}
        </div>
    </div>
</div>
