<div class="contactform">
  <div class="contactform__container">
    <div class="contactform__wrapper">
      {% if (component.titolo_form) %}
        <h4 class="contactform__title">{{component.titolo_form}}</h4>
      {% endif %}
      <form action="/grazie" method="post" accept-charset="utf-8" data-abide>
        <div data-abide-error class="alert callout" style="display: none;">
          <p><i class="fi-alert"></i>Per favore, controlla di aver compilato correttamente tutti i campi</p>
        </div>
        <div class="contactform__inner">
          <div class="contactform__field">
            <label for="name">Nome e Cognome*
              <input id="name" name="name" type="text" placeholder="Nome e Cognome" aria-describedby="Inserisci il Nome e Cognome" required />
              <span class="form-error">
                Controlla di aver inserito Nome e Cognome
              </span>
            </label>
            <p class="help-text" id="HelpText">Inserisci Nome e Cognome</p>
          </div>
          <div class="contactform__field">
            <label for="from">Indirizzo Email*
              <input id="from" name="from" type="email" placeholder="Email" aria-describedby="Inserisci il tuo indirizzo email" required />
              <span class="form-error">
                Controlla di aver inserito correttamente l'indirizzo email
              </span>
            </label>
            <p class="help-text" id="HelpText">Inserisci il tuo indirizzo email</p>
          </div>
          <div class="contactform__field">
            <label for="message">Messaggio*
              <textarea id="message" name="message" placeholder="Il tuo messaggio" aria-describedby="Scrivi il tuo messaggio" required></textarea>
              <span class="form-error">
                Controlla di aver scritto il messaggio
              </span>
            </label>
            <p class="help-text" id="HelpText">Scrivi il tuo messaggio</p>
          </div>
          <div class="contactform__field">
            <label for="privacy">
              <input id="privacy" name="privacy" type="checkbox" value="Accetto" aria-describedby="Accetta l'informativa sulla privacy" required />
              <span class="form-error">
                *Per proseguire devi accettare l'informativa sulla privacy
              </span>
              Accetto <a href="/privacy" target="_blank">l'informativa sulla privacy</a>
            </label>
          </div>
          <fieldset class="contactform__buttons">
            <button class="bg-primary" type="submit" value="Submit">Invia</button>
          </fieldset>
        </div>
      </form>
    </div>
  </div>
</div>
