<div class="gallery">
  <div class="gallery__inner">
    {% for image in component.immagini %}
      <div class="gallery__item" data-open="gallery-slider">
        <a href="{{image.sizes.large}}" class="swipebox" title="{{image.title}}">
          <img src="{{image.sizes.mini}}" width="{{image.sizes['mini-width']}}" height="{{image.sizes['mini-height']}}" alt="{{image.alt}}"/>
          <span class="gallery__item__caption">{{image.alt}}</span>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
