<header class="header bg-secondary">
    <div class="header__inner">
        {% if (component.logo) %}
            <div class="header__logo {% if (component.centered) %} header__logo--centered {% endif%}">
                <a href="/"><img itemprop="logo" src="{{component.logo.url}}" width="{{component.logo.sizes.width}}px" height="{{component.logo.sizes.height}}px" alt="{{component.logo.alt}}" /></a>
                {% if (component.titolo and not component.centered ) %}
                    <h1 itemprop="name">{{component.titolo}}</h1>
                {% else %}
                    <h1 class="blindhelper" itemprop="name">{{component.titolo}}</h1>
                {% endif %}
            </div>
        {% else %}
        <div class="header__title">
            <h1 itemprop="name">{{data.title.rendered}}</h1>
        </div>
        {% endif %}
    </div>
</header>
