<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.8";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<div class="likebox">
  <div class="likebox__inner">
    <div class="fb-page" data-href="https://www.facebook.com/{{component.id_pagina}}" data-tabs="timeline,events" data-height="130" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
      <blockquote cite="https://www.facebook.com/{{component.id_pagina}}" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/{{component.id_pagina}}">{{component.nome_pagina}}</a>
      </blockquote>
    </div>
  </div>
</div>