<div class="orari">
    <div class="orari__inner">
        {% if (component.titolo_orari) %}
        <h4 class="orari__title">{{component.titolo_orari}}</h4>
        {% endif %}
        {% if (component is not empty) %}
        <div class="orari__list">
            <div class="orario head"></div>
            {% for orario in component.orario %}
            <div class="orario">
                {% if (orario.mattina) %}
                <div class="orario__giorno">{{orario.giorno}}</div>
                {% endif %}
                {% if (orario.mattina) %}
                <div class="orario__inner">
                    <svg version="1.1" id="clock" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                        <g class="clock-path">
                            <path fill="none" stroke="inherit" stroke-width="2" stroke-miterlimit="10" d="M53.92,10.081 c12.107,12.105,12.107,31.732,0,43.838c-12.106,12.108-31.734,12.108-43.84,0c-12.107-12.105-12.107-31.732,0-43.838 C22.186-2.027,41.813-2.027,53.92,10.081z"/>
                            <polyline fill="none" stroke="inherit" stroke-width="2" stroke-miterlimit="10" points="32,12 32,32 41,41"/>
                            <line fill="none" stroke="inherit" stroke-width="2" stroke-miterlimit="10" x1="4" y1="32" x2="8" y2="32"/>
                            <line fill="none" stroke="inherit" stroke-width="2" stroke-miterlimit="10" x1="56" y1="32" x2="60" y2="32"/>
                            <line fill="none" stroke="inherit" stroke-width="2" stroke-miterlimit="10" x1="32" y1="60" x2="32" y2="56"/>
                            <line fill="none" stroke="inherit" stroke-width="2" stroke-miterlimit="10" x1="32" y1="8" x2="32" y2="4"/>
                        </g>
                    </svg>
                    <div class="orario__tempo"  itemprop="openingHours">{{orario.mattina}}</div>
                </div>
            {% endif %}
            {% if (orario.pomeriggio) %}
            <div class="orario__inner">
                <svg version="1.1" id="clock" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                    <g class="clock-path">
                        <path fill="none" stroke="inherit" stroke-width="2" stroke-miterlimit="10" d="M53.92,10.081 c12.107,12.105,12.107,31.732,0,43.838c-12.106,12.108-31.734,12.108-43.84,0c-12.107-12.105-12.107-31.732,0-43.838 C22.186-2.027,41.813-2.027,53.92,10.081z"/>
                        <polyline fill="none" stroke="inherit" stroke-width="2" stroke-miterlimit="10" points="32,12 32,32 41,41"/>
                        <line fill="none" stroke="inherit" stroke-width="2" stroke-miterlimit="10" x1="4" y1="32" x2="8" y2="32"/>
                        <line fill="none" stroke="inherit" stroke-width="2" stroke-miterlimit="10" x1="56" y1="32" x2="60" y2="32"/>
                        <line fill="none" stroke="inherit" stroke-width="2" stroke-miterlimit="10" x1="32" y1="60" x2="32" y2="56"/>
                        <line fill="none" stroke="inherit" stroke-width="2" stroke-miterlimit="10" x1="32" y1="8" x2="32" y2="4"/>
                    </g>
                </svg>
                <div class="orario__tempo"  itemprop="openingHours">{{orario.pomeriggio}}</div>
            </div>
            {% endif %}
        </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
