<div class="slideshow bg-secondary">
  <div class="slideshow__inner">
  	{% for slide in component.slide %}
      <div class="slide">
      <div class="slide__inner">
        <div class="slide__image">
          <img data-interchange="[{{slide.immagine.sizes.large}}, small], [{{slide.immagine.sizes.fullwidth}}, medium]" src="{{slide.immagine.sizes.fullwidth}}" alt="{{slide.immagine.alt}}"/>
        </div>
        <div class="slide__caption">
          <div class="slide__text">{{slide.testo|raw}}</div>
        </div>
      </div>
      </div>
   {% endfor %}
  </div>
</div>
