<div class="socialbar bg-primary">
  <div class="socialbar__inner">
    {% if (component is not empty) %}
    <span>{{component.titolo}}</span>
    <ul class="no-bullet {{ component.icone_piene ? 'coloured' }}">
      {% if (component.facebook) %}
      <li class="social social-fb">
        <a href="https://www.facebook.com/{{component.facebook}}" target="_blank">
          <svg id="facebook-icon" width="46" height="46" style="enable-background:new 0 0 78 78;" version="1.1" viewBox="0 0 78 78" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g>
              <path id="facebook-path" fill="transparent" stroke="#000" stroke-width="2px" d="M66,2H12C6.5,2,2,6.5,2,12V66c0,5.5,4.5,10,10,10h26.7l0-26.4h-6.9c-0.9,0-1.6-0.7-1.6-1.6l0-8.5   c0-0.9,0.7-1.6,1.6-1.6h6.9v-8.2c0-9.6,5.8-14.8,14.4-14.8h7c0.9,0,1.6,0.7,1.6,1.6v7.2c0,0.9-0.7,1.6-1.6,1.6l-4.3,0   c-4.6,0-5.5,2.2-5.5,5.4v7.1h10.2c1,0,1.7,0.8,1.6,1.8l-1,8.5c-0.1,0.8-0.8,1.4-1.6,1.4h-9.1l0,26.4H66c5.5,0,10-4.5,10-10V12   C76,6.5,71.5,2,66,2z"/>
            </g>
          </svg>
        </a>
      </li>
      {% endif %}
      {% if (component.twitter) %}
      <li class="social social-tw">
        <a href="https://twitter.com/{{component.twitter}}" target="_blank">
          <svg id="twitter-icon" width="48" height="48" style="enable-background:new 0 0 78 78;" version="1.1" viewBox="0 0 78 78" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g>
              <path id="twitter-path" fill="transparent" stroke="#000" stroke-width="2px" d="M74.8,15.4c-1.6,0.7-3.4,1.3-5.1,1.7c1.9-1.8,3.4-4.1,4.2-6.7l0,0c0.2-0.7-0.6-1.4-1.2-1l0,0   c-2.4,1.4-5.1,2.5-7.8,3.2c-0.2,0-0.3,0.1-0.5,0.1c-0.5,0-1-0.2-1.4-0.5c-2.9-2.6-6.7-4-10.6-4c-1.7,0-3.4,0.3-5.1,0.8   c-5.2,1.6-9.2,5.9-10.4,11.1c-0.5,2-0.6,4-0.4,5.9c0,0.2-0.1,0.4-0.1,0.4c-0.1,0.1-0.3,0.2-0.4,0.2c0,0,0,0-0.1,0   c-11.3-1.1-21.5-6.5-28.8-15.4l0,0c-0.4-0.5-1.1-0.4-1.4,0.1l0,0c-1.4,2.4-2.2,5.2-2.2,8c0,4.3,1.7,8.4,4.8,11.4   C7.2,30.5,6,30,4.8,29.4l0,0c-0.6-0.3-1.2,0.1-1.2,0.7l0,0c-0.1,6.4,3.7,12.1,9.3,14.7c-0.1,0-0.2,0-0.3,0c-0.9,0-1.8-0.1-2.7-0.3   l0,0c-0.6-0.1-1.1,0.5-1,1.1l0,0c1.8,5.7,6.7,9.9,12.6,10.9c-4.9,3.3-10.6,5-16.5,5l-1.8,0c-0.6,0-1,0.4-1.2,0.9   c-0.1,0.5,0.1,1.1,0.6,1.4c6.7,3.9,14.3,5.9,22,5.9c6.8,0,13.1-1.3,18.8-4c5.2-2.4,9.9-5.9,13.8-10.3c3.6-4.1,6.5-8.9,8.4-14.1   c1.9-5,2.9-10.3,2.9-15.4v-0.2c0-0.8,0.4-1.6,1-2.1c2.5-2,4.6-4.3,6.3-7l0,0C76.3,15.9,75.6,15,74.8,15.4L74.8,15.4z"/>
            </g>
          </svg>
        </a>
      </li>
      {% endif %}
      {% if (component.youtube) %}
      <li class="social social-yt">
        <a href="https://www.youtube.com/user/{{component.youtube}}" target="_blank">
          <svg id="youtube-icon" width="48" height="48" style="enable-background:new 0 0 78 78;" version="1.1" viewBox="0 0 78 78" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g>
              <g>
                <path id="youtube-path" fill="transparent" stroke="#000" stroke-width="2px" d="M60.6,12.8H17.4C8.9,12.8,2,19.7,2,28.2v21.6c0,8.5,6.9,15.4,15.4,15.4h43.3c8.5,0,15.4-6.9,15.4-15.4V28.2    C76,19.7,69.1,12.8,60.6,12.8z M50.2,40.1L30,49.7c-0.5,0.3-1.2-0.1-1.2-0.7V29.1c0-0.6,0.6-1,1.2-0.7l20.2,10.3    C50.9,38.9,50.8,39.8,50.2,40.1z"/>
              </g>
            </g>
          </svg>
        </a>
      </li>
      {% endif %}
     {% if (component.instagram) %}
      <li class="social social-instagram">
        <a href="https://www.instagram.com/{{component.instagram}}" target="_blank">
           <svg id="instagram-path" width="48" height="48" viewBox="0 0 1700 1700" xmlns="http://www.w3.org/2000/svg"><path d="M1490 1426v-648h-135q20 63 20 131 0 126-64 232.5t-174 168.5-240 62q-197 0-337-135.5t-140-327.5q0-68 20-131h-141v648q0 26 17.5 43.5t43.5 17.5h1069q25 0 43-17.5t18-43.5zm-284-533q0-124-90.5-211.5t-218.5-87.5q-127 0-217.5 87.5t-90.5 211.5 90.5 211.5 217.5 87.5q128 0 218.5-87.5t90.5-211.5zm284-360v-165q0-28-20-48.5t-49-20.5h-174q-29 0-49 20.5t-20 48.5v165q0 29 20 49t49 20h174q29 0 49-20t20-49zm174-208v1142q0 81-58 139t-139 58h-1142q-81 0-139-58t-58-139v-1142q0-81 58-139t139-58h1142q81 0 139 58t58 139z" fill="transparent" stroke="#000" stroke-width="2px" /></svg> 
        </a>
      </li>
      {% endif %}
    {% if (component.linkedin) %}
      <li class="social social-instagram">
          <a href="http://www.linkedin.com/in/{{component.linkedin}}" target="_blank">
           <svg width="48" height="48" viewBox="0 0 1700 1700" xmlns="http://www.w3.org/2000/svg"><path d="M365 1414h231v-694h-231v694zm246-908q-1-52-36-86t-93-34-94.5 34-36.5 86q0 51 35.5 85.5t92.5 34.5h1q59 0 95-34.5t36-85.5zm585 908h231v-398q0-154-73-233t-193-79q-136 0-209 117h2v-101h-231q3 66 0 694h231v-388q0-38 7-56 15-35 45-59.5t74-24.5q116 0 116 157v371zm468-998v960q0 119-84.5 203.5t-203.5 84.5h-960q-119 0-203.5-84.5t-84.5-203.5v-960q0-119 84.5-203.5t203.5-84.5h960q119 0 203.5 84.5t84.5 203.5z" fill="#transparent" stroke="#000" stroke-width="2px"/></svg> 
        </a>
      </li>
      {% endif %}

    </ul>
    {% endif %}
  </div>
</div>
