<style>
    .bg-primary {
      background: {{data.acf.primary_color}};
    }

    .bg-primary a {
      color: {% if colorContrast(data.acf.primary_color) %} 
          rgba(255, 255, 255, 1);
        {% else %}
          rgba(0, 0, 0, .9);
        {% endif %}
      }

    .fg-primary,
    a:link,
    a:visited,
    .slick-slider .slick-dots .slick-active button::before {
    /* color: {{data.acf.primary_color}}; */ 
    }

    .fg-primary:nth-child(odd) {
      background: {% if colorContrast(data.acf.secondary_color) %} 
          rgba(255,255,255, .7);
        {% else %}
          rgba(0,0,0, .7);
        {% endif %}
      }

    .bg-secondary {
      background: {{data.acf.secondary_color}};
      color: {% if colorContrast(data.acf.secondary_color) %} 
          rgba(0, 0, 0, .7);
        {% else %}
          rgba(255, 255, 255, .7);
        {% endif %}
      }

    .fg-secondary {
      border-color: {{data.acf.secondary_color}};
      color: {{data.acf.secondary_color}};
    }

    body {
        font-family: '{{data.acf.body_font.font}}';
    }
    
    h1,h2,h3,h4,h5,h6 {
        font-family: '{{data.acf.header_font.font}}';
    }

    .testo a {
        color: {{data.acf.secondary_color}};
    }
    
  </style>
  <link href="https://fonts.googleapis.com/css?family={{data.acf.header_font.font | replace(' ','+')}}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family={{data.acf.body_font.font | replace(' ','+')}}" rel="stylesheet">

