<div class="testo {%if (component.primary) %} bg-primary fg-secondary {% else %} bg-secondary fg-primary {% endif %}">
    {% if (component.colonne) %}
    <div class="testo__inner">
        <div class="testo__col-sx">{{component.testo|raw}}</div>
        <div class="testo__col-dx">{{component.testo_col_dx|raw}}</div>
    </div>
    {% elseif (component.testobig) %}
    <div class="testo__inner testo__inner--big">
        <div class="testo__txt">
            {{component.testo|raw}}
        </div>
    </div>
    {% else %}
    <div class="testo__inner testo__inner--big">
        <div class="testo__txt">
            {{component.testo|raw}}
        </div>
    </div>
    {% endif %}
</div>