<div class="txt-img {%if (component.primary) %} bg-primary fg-secondary {% else %} bg-secondary fg-primary {% endif %}">
    <div class="txt-img__inner {{ component.invertito ? 'invertito' }}">
        <div class="txt-img__col-sx">
            {% if (component.titolo) %}
            <h3>{{component.titolo}}</h3>
            {% endif %} {{component.testo|raw}}
        </div>
        <div class="txt-img__col-dx">
            <img itemprop="image" data-interchange="[{{component.immagine.sizes.medium}}, small], [{{component.immagine.sizes.large}}, medium]" src="{{component.immagine.sizes.large}}" width="{{component.immagine.sizes['large-width']}}" height="{{component.immagine.sizes['large-height']}}"
                alt="{{component.immagine.alt}}" />
        </div>
    </div>
</div>
