<meta name="description" content="{{data.yoast.metadesc}}"/>
<meta name="robots" content="noodp"/>
<link rel="canonical" href="{{data.yoast.canonical}}" />
<link rel="publisher" href="https://plus.google.com/{{mybusiness}}"/>
<meta property="og:locale" content="it_IT" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{attribute(data.yoast,'opengraph-title')}}" />
<meta property="og:description" content="{{attribute(data.yoast,'opengraph-description')}}" />
<meta property="og:url" content="{{data.yoast.canonical}}" />
<meta property="og:site_name" content="{{data.title.rendered}}" />
<meta property="og:image" content="{{attribute(data.yoast,'opengraph-image')}}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="{{attribute(data.yoast,'twitter-description')}}" />
<meta name="twitter:title" content="{{attribute(data.yoast,'twitter-title')}}" />
<meta name="twitter:image" content="{{attribute(data.yoast,'twitter-image')}}" />
