    .footer {
  &__inner {
    @include flex-grid-row();
    padding: 1.5rem 0; 
    width: 100%;

    .orari {
      @include breakpoint(medium) {
          @include flex-grid-column(5);
      }
      @include flex-grid-column(12);
      padding: 0 1rem;

      &__title {
        color: rgba($white, .75);
      }

      &__list {
        color: $white;
      }

      .orario {

        .clock-path {
          stroke: $white;
        }
      }
    }

    .contact {
      color: $white;
      @include breakpoint(medium) {
          @include flex-grid-column(5);
      }
      @include flex-grid-column(12, 0);

      a:link,
      a:visited {
        color: rgba($white, .8);
      }
    }
  }

  .credits {
    background: rgba($black, .34);
    padding: 1rem;

    ul {
      margin: 0;
      text-align: center;
      width: 100%;

      li {
        display: inline-block;
        margin: 0 .5rem;
      }

      a {
        color: rgba($white, .5);
      }
    }
  }
}
