.contactform {
  background: rgba(0, 0, 0, .05);
  width: 100%;

  &__container {
    @include flex-grid-row();
  }

  &__wrapper {
    @include flex-grid-column(12);
    margin: 0 auto;
    padding: 1.5rem 1rem;
    width: 100%;

    @include breakpoint (medium) {
      @include flex-grid-column(8);
    }
  }

  &__title {
    text-align: center;
  }

  form {
    width: 100%;
  }

  &__inner {
    @include flex-grid-column(12, 0);
    padding: 1.5rem 0;
  }

  &__buttons {
    @include flex-grid-column(12, 0);
    padding: 1.5rem 0;
    text-align: right;
  }

  &__field {
    @include flex-grid-column(12, 0);

    label {
      font-weight: bold;
    }

    input,
    textarea {
      border: 0;
      box-shadow: 0 .125rem .25rem rgba($black, .15);
    }

    input[type="checkbox"] {
      box-shadow: none;
      height: 30px;
      vertical-align: -12px;
      width: 30px;
    }
  }

  .help-text {
    clip: rect(0 0 0 0);
    position: absolute;
  }

  textarea {
    height: 12rem;
    max-height: 15rem;
    resize: vertical;
  }

  button[type="submit"] {
    color: $white;
    padding: 1rem;
    text-transform: uppercase;
    transition: all .4s;

    &:hover {
      opacity: .9;
      transition: all .4s;
    }
  }
}
