.gallery {
  padding: 2rem 0;
  width: 100%;

  &__inner {
    @include flex-grid-row();
    width: 100%;
  }

  &__item {
    @include flex-grid-column(3);
    position: relative;
    transition: all .4s;
    width: 100%;

    &:hover {
      opacity: .9;
      transition: all .4s;

      a::after {
        opacity: 1;
        transform: scale(1);
      }
    }

    a {
      display: inline-block;
      transition: all .4s;
    }

    a::after {
      border: 1px solid $white;
      content: '';
      height: calc(100% - 2rem);
      left: 0;
      margin: 1rem 2rem;
      opacity: 0;
      position: absolute;
      top: 0;
      transform: scale(.9);
      transition: all .4s;
      width: calc(100% - 4rem);
    }

    &__caption {
        position: absolute;
        bottom: 0;
        left: 0;
        text-shadow: 0px 2px 10px rgba(0,0,0,.3);
        color: white;
        background: linear-gradient(transparent, rgba(0,0,0,.4));
        padding: 2rem;
        margin: 0 15px;
    }
  }

  ul {
    margin: 0;
    text-align: right;

    li {
      display: inline-block;
      margin: 0 .5rem;
    }

    a {
      display: inline-block;

      img {
        height: 30px;
        width: auto;
      }
    }
  }
}
