.header {
  &__inner {
    @include flex-grid-row();
    padding: 1.5rem 0;
    width: 100%;
  }

  &__title {
    text-align: center;
    width: 100%;

    h1 {
      font-size: 1.1rem;

      @include breakpoint(medium) {
        font-size: 2rem;
      }

      @include breakpoint(large) {
        font-size: 3rem;
      }

      @include breakpoint(xlarge) {
        font-size: 4rem;
      }
    } 
  }

  &__logo {
    align-self: center;
    @include flex-grid-column(12);

    &--centered {
        text-align: center;
    }

    h1 {
        display: inline-block;
        max-height: 90px;
        font-size: rem-calc(32px);
        margin-left: 2rem;
    }
  
    img {
      align-self: center;
      height: auto;
      width: auto;
      max-height: 90px;
    }
  }
}
