.orari {
    
  font-size: .9rem;
  padding: 2rem 0;
  margin-top: 2rem;

  @include breakpoint(medium) {
      margin-top: 0;
  }

  &__title {
    text-align: center;
  }

  &__inner {
    @include flex-grid-row();
    margin: 0 auto;
    width: 100%;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .orario {
    @include flex-grid-row();
    margin: 0 auto;
    min-height: 40px;
    width: 100%;

    &__inner {
        width: auto;
        flex: 0 0 auto;
        display: flex;
    }

    &.head {
      display: block;
      text-align: center;

      @include flex-grid-column(5, 0)
      &:first-child {
          @include flex-grid-column(2, 0)
      }
    }
    
    .clock-path {
      stroke: $black;
      width: 30px;
    }

    &__giorno {
        @include flex-grid-column(2, 0);
        margin: .5rem 0 0;

    }

    img {
      display: inline-block;
      height: 20px;
      margin: .5rem 1rem .5rem 0;
      width: auto;
    }

    svg {
      height: 18px;
      margin: .7rem .5rem .5rem auto;
      width: 18px;
    }

    &__tempo {
      align-self: center;
      display: inline-block;
      width: auto;
      flex: 0 0 auto;

    }
  }
}
