.slideshow {
  width: 100%;

  .slide {
    &__inner {
      position: relative;
      display:flex;
    }


    &__image {
        width:100%;
        img {
            width:100%;
        }
    } 

    &__caption {
        @include breakpoint(medium) {
            left: 0rem;
            padding: 6rem;
        }

        padding: 2rem 4rem;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 100%;
    }

    &__text {
      @include flex-grid-column(12);
      width: 100%;

      p {
        color: $white;
        font-size: 1.25rem;
        padding: 1rem 0;
        margin-bottom: 0;
        @include breakpoint(medium) {
            font-size: 3.5rem;
        }
      }
    }
  }

  .slick-slider {

    .slick-prev {
      height: 48px;
      left: 2rem;
      width: 48px;
      z-index: 2;

      &::before {
        content: url('../img/icons/left.svg');
      }
    }

    .slick-next {
      height: 48px;
      right: 2rem;
      width: 48px;
      z-index: 2;

      &::before {
        content: url('../img/icons/right.svg');
      }
    }
  }

  .slick-dots {
    bottom: initial;
    padding: .5rem 0;
    top: calc(100% - 3rem);

    button::before {
      font-size: .75rem;
    }
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
}
