.socialbar {
  &__inner {
    padding: .75rem 1rem .5rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: $white;
  }

  span {
      text-align: right;
    display: inline-block;
    max-height: 48px;
    line-height: 2rem;
    margin-right: 1rem;
    @include mui-animation(slide(in,right));
    animation-duration: 1s;

  }
  
  ul {
    margin: 0;
    text-align: right;
    display: inline-block;

    li {
      display: inline-block;
      margin: 0 .5rem;
    }

    a {
      display: inline-block;

      svg,
      img {
        height: 24px;
        transition: all .4s;
        width: auto;

        &:hover {
          path {
            fill: $white;
            stroke: $white;
            transition: all .4s;
          }
        }
      }

      path {
        stroke: rgba($white, .75);
        transition: all .4s;
      }
    }
  }

  .footer__inner & {
      width: 100%;
  }

  .coloured {
    path {
      fill: rgba($white, .75);
    }
  }
}
