.testo {
  background: rgba($white, .25);
  width: 100%;

  &__inner {
      @include flex-grid-row();
      padding: 3rem 0;
      width: 100%;
  
 
    &--big {
        .testo__txt {
            blockquote {
                color: inherit;
                a {
                    color: inherit;
                    text-decoration: none;
                    font-style: italic;
                    font-size: .8em;
                    &:before {
                        content:" - ";
                    }
                }
            }
            p {
                font-size: 1.75rem;
            }
        } 
    }
  }

  &__txt {
    @include flex-grid-column(12);
      p {
      font-size: 1.5rem;
    }
   
  }

  &__col-sx,
  &__col-dx {
    @include flex-grid-column(12);
    @include breakpoint(medium) {
        @include flex-grid-column(6, 32);
    }

    p {
      text-align: justify;
    }
  }
}
