.txt-img {
    width: 100%;
    &__inner {
        @include flex-grid-row();
        width: 100%;
    }
    &__col-sx {
        align-self: center;
        padding: 2rem 0;
        @include breakpoint(medium) {
            @include flex-grid-column(6, 0);
            margin-top: 0;
        }
        @include flex-grid-column(12);
        margin-top: 1rem;
        width: 100%;
    }
    &__col-dx {
        @include breakpoint(medium) {
            @include flex-grid-column(6, 0);
        }
        @include flex-grid-column(12, 0);
        width: 100%;
        padding: 0;
        img {
            width: 100%;
        }
    }
    .invertito {
        .txt-img__col-sx {
            order: 2;
            width: 100%;
        }
        .txt-img__col-dx {
            order: 1;
            width: 100%;
        }
    }
}