<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/assets/css/app.css?ver={{random(100000)}}" />
    <link rel="shortcut icon" type="image/ico" href="{% if not data.acf.favicon %}{{" assets/img/favicon.png "}}{% else %}{{data.acf.favicon}}{% endif %}" /> {% block head %} {% endblock %}
</head>

<body itemscope itemtype="http://schema.org/LocalBusiness">
    <div class="page-container bg-secondary">
        {% block content %}{% endblock %}
    </div>
    <footer class="footer bg-primary">
        <div class="footer__inner">
            {% block footer %} {% endblock %}
        </div>
        <div class="credits">
            <ul class="no-bullet">
                <li><a href="/privacy" target="_blank">Privacy policy</a></li>
                <li><a href="/cookie" target="_blank">Cookie policy</a></li>
                <li><a href="https://www.nodopiano.it" target="_blank">Credits: Nodopiano</a></li>
            </ul>
        </div>
    </footer>
    {% include 'partials/analytics.html' %} {% include 'partials/hotjar.html' %} {% include 'partials/facebookpixel.html' %}
    <script type="text/javascript" src="/assets/js/app.js?ver={{random(100000)}}"></script>
</body>

</html>
