{% extends "app.html" %}

{% block head %}
    {% include 'components/style.html' %}
    {% include 'partials/seo.html' %}
{% endblock %}

{% block content %}
 {% if data.acf.components|length > 0 %}
    {% for component in data.acf.components if not component.footer %}
        {% if component.acf_fc_layout == "header" or component.acf_fc_layout == "socialbar" %}
        {% include 'components/' ~ component.acf_fc_layout ~ '.html' %}
        {% endif %}
    {% endfor %}
  {% endif %}

  <div class="page">
      <div class="page__inner">
          <div class="page__txt">
              <article>
                  <h1>{{page.title.rendered}}</h1>
                  {{page.content.rendered | raw}}
              </article>
          </div>
      </div>
  </div>
{% endblock %}
{% block footer %}
  {% if data.acf.components|length > 0 %}
    {% for component in data.acf.components if component.footer %}
      {% include 'components/' ~ component.acf_fc_layout ~ '.html' %}
    {% endfor %}
  {% endif %}
{% endblock %}
