{% extends "app.html" %}

{% block head %}
    {% include 'components/style.html' %}
{% endblock %}

{% block content %}
    {% if data.acf.components|length > 0 %}
    {% for component in data.acf.components if not component.footer %}
        {% if component.acf_fc_layout == 'header' %}
        {% include 'components/' ~ component.acf_fc_layout ~ '.html' %}
        {% endif %}
    {% endfor %}
  {% endif %}
  <div class="page--thankyou">
    <div class="testo thankyou">
      <div class="testo__inner">
        <div class="testo__txt text-center">
          <h1>{{message}}</h1>
          <p>{{long_message | raw}}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block footer %}
  {% if data.acf.components|length > 0 %}
    {% for component in data.acf.components if component.footer %}
      {% include 'components/' ~ component.acf_fc_layout ~ '.html' %}
    {% endfor %}
  {% endif %}
{% endblock %}
